<section class="mainSection">

{{#if isProfileOwner}}
<form class="" action="/profileImage" method="post" encType="multipart/form-data">

     <label for="inputfile" class="btn upload-btn"><i class="far fa-image"></i>Upload Your Profile</label>
      <input type="file" name="imageFile" class="inputfile" id="inputfile"  required>
      <button type="submit" name="button">Upload</button>

</form>

{{/if}}

<h1>{{posts.profileInfo.img_profile}}</h1>
<img src="{{posts.profileInfo.img_profile}}" alt="">

  {{#each posts}}

      <div class="postHome">
        <div class="postLikeDiv">

        <p id="post{{this.id}}" class="postsLikesClick{{#if this.isVoted}} green {{/if}}" >{{this.count}} likes</p>
      </div>
        <div class="imgPostHome">
          <a href="/post/{{this.id}}">
            <img src="{{this.img_url}}" alt="{{post_title}}">
          </a>
        </div>
          <div class="postDescHome">
            <div class="postTitleHome">
              <p>{{this.post_title}}</p>
            </div>
            <div class="postContent">
              <p>{{this.post_content}}</p>

            </div>
              <div class="postOwnerHome">
                <a href="/profile/{{this.userid}}">
                  <p>{{this.user_name}}</p>
                </a>
              </div>

          </div>
      </div >

    {{/each}}


</section>
